{{!< default}}

{{#post}}
<article class="post-full {{post_class}}">
    <header class="post-header">
        {{#if primary_tag}}
            <a class="post-card-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
        {{/if}}

        <h1>{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="post-excerpt">{{custom_excerpt}}</p>
        {{/if}}
    </header>

    {{#if feature_image}}
        <figure class="post-feature-image">
            <img src="{{img_url feature_image size=\"xl\"}}" alt="{{title}}">
        </figure>
    {{/if}}

    <section class="post-content">
        {{content}}
    </section>
</article>
{{/post}}
